*{
   margin:0;
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
  

}
header{
    background: #e68b36;
    padding-top:25px; 
    background-image: url('../images/header_bg.png'),url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,left;
   
}
/* .header-part{
    background-image: url('../images/hardy.png');
    background-repeat: no-repeat;
} */

nav{
    display: flex;
    margin:10px 200px;
    justify-content: space-between;
    align-items: center;
}
nav span{
    color:#FD6E0A;
}
.mary{
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
  

    
}
nav ul li{
    font-size: 20px;
    list-style: none;
    margin-left: 50px;
}

.header-btn{
    font-weight: 500;
    background:#FD6E0A;
    color: white;
    border: none;
    font-size: 19px;
    height: 55px;
     padding: 0px 33px; 
    border-radius: 5px;

}
.banner-section{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.hi{
  font-size: 40px; 
  margin-bottom:7px;
 
}
.hardy{
    font-size: 45px; 
    font-weight: 700;
    margin-bottom: 16px;
}
.shot{
    font-size: 17px;
   color: #757575; ;
   line-height:25px;
   margin-bottom: 25px;

}
.cv-btn{
    margin-right: 20px;
    font-weight: 500;
}
.contact-btn{
      font-weight: 500;
     color: #FD6E0A;
     background-color: white;
     border: 1px solid #FD6E0A;

}
.banner-right {
    margin: -4px 0px;
}